html {
    overflow-y: auto;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    color: #333;
}

.order {
    display: flex;
}

.sidebar {
    width: 250px;
    height: 100%;
    padding: 20px;
    transition: width 0.1s;
}

.logo img {
    width: 210px;
}

.menu {
    border-radius: 10px;
    background: rgb(146, 118, 92);
    padding: 1rem;
    margin-bottom: 1rem;
}

.sidebar.collapsed {
    width: 90px;
}

.sidebar.collapsed.logo-collapsed img {
    width: 50px;
    height: 30px
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 20px 0;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 2.5rem;
}

.sidebar ul li a i {
    width: 20px;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.header .toggle-btn {
    font-size: 30px;
    background: none;
    border: none;
    cursor: pointer;
    color: rgb(146, 118, 92);
    display: flex;
    align-items: center;
}

.header input[type="text"] {
    position: relative;
    padding: 5px;
    border-radius: 10px;
    border-color: rgba(187, 157, 114, 1);
    width: 650px;
    box-sizing: border-box;

}

.header i {
    margin-right: 20px;
    color: rgb(146, 118, 92);
    font-size: 30px
}

.header svg {
    height: 2rem
}

.user-name {
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
    color: rgb(187, 157, 114);
    font-size: 18px;
    font-weight: 300;
    text-align: left;
    padding: 0.5rem
}

.order-section h1 {
    margin: 0 0 20px 0;
    color: rgb(187, 157, 114);
    font-size: 48px;
    font-weight: 500;
    text-align: left;
}

.order-section input[type="text"] {
    box-sizing: border-box;
    border-radius: 10px;
    border-color: rgba(187, 157, 114, 1);
    padding: 0.5rem;
}

.order-section .input-group {
    width: 13rem;
}

.order-section input[type="text"]::placeholder {
    color: rgb(187, 157, 114);
    font-size: 14px;
    font-weight: 300;
    text-align: left;
}

.order-section .submit {
    border-radius: 10px;
    background: rgb(34, 183, 240);
    padding: 10px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 300;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: left;
}

.order-section .submit:hover {
    background: rgb(187, 157, 114);
    color: white
}

.order-section .create {
    border-radius: 10px;
    background: rgb(82, 204, 102);
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 300;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: left;
}

.order-section .create:hover {
    background: rgb(187, 157, 114);
    color: white
}

.order-section .back {
    border-radius: 10px;
    background: rgb(187, 157, 114);
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 300;
    text-align: left;
}

.order-section .back:hover {
    background: rgb(204, 44, 44);
    color: white
}

.button-row {
    gap: 10rem;
}

.order-head {
    margin-top: 3rem;

}

.table {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 1rem;
}

.grid-table {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.grid-content {
    border: 1px solid rgb(187, 157, 114);
    padding: 1rem;
    display: flex;
    justify-content: center;
}

.grid-table :first-child {
    border-radius: 10px 0 0 10px;
}

.grid-table :last-child {
    border-radius: 0 10px 10px 0;
}

.action {
    width: 10rem;
    box-sizing: border-box;
    border-bottom: 3px solid rgb(246, 218, 145);
    border-radius: 10px;
    background: rgb(146, 118, 92);
    color: #d0f0f7
}

@media (max-width: 1200px) {
    .header input[type="text"] {
        width: 220px;

    }
}

@media (max-width: 768px) {
    .sidebar {
        display: none;
        width: 250px;
    }

    .sidebar.open {
        display: block;
    }

    .header {
        justify-content: space-between;
    }

    .header input[type="text"] {
        width: 220px;

    }
}